---
export interface Props {
	title: string;
	description: string
}
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const {title, description } = Astro.props as Props;

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
	<meta name="description" content={description}>
</head>
<body>
	<Nav></Nav>
	<slot />
	<Footer></Footer>
</body>
</html>


